.idea
.dockerignore
.env
.git
.gitignore
.coverage
.mypy_cache
.pytest_cache
coverage.xml
htmlcov
report.xml

Dockerfile
*.dockerfile

__pycache__
*.pyc
*.egg-info

.ve*
.venv
venv*
tmp

data
mongo
mongo-webui
